* text=auto eol=lf
*.sh text eol=lf
*.ut text eol=lf
*.uc text eol=lf
Makefile text eol=lf
root/etc/init.d/* text eol=lf
root/etc/uci-defaults/* text eol=lf
root/usr/libexec/* text eol=lf
root/www/cgi-bin/* text eol=lf
root/usr/share/rpcd/ucode/* text eol=lf
*.png binary
*.jpg binary
